body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightcyan;
}
.header {
  width: 100%;
  display: flex;
  margin-left: 500px;
}

.my-photo {
  width: 10%;
}

.my-photo img {
  width: 100%;
}
.cvphoto{
  height: 300px;
  width: 100px;
}
.header-content {
  width: 60%;
  margin: 20px;
}

section {
  margin-left: 700px;
  margin-bottom: 20px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}
button {
  background-color: aqua;
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 400px;
}
button:hover {
  background-color: beige;
}

.social-links{
  margin-left: 700px;
  margin-top: 50px;
  list-style: none;
  background-color: aqua;
  padding: 20px 20px 20px 30px;
  width: 370px;
  border-radius: 10px;

}

a{
  text-decoration: none;
  font-size: larger;
  float: left;
  margin-left: 20px;
  color: gray;
}

a:hover {
  color: black;
}
